[submodule "android-common-utils"]
	path = base_utils
	url = git@github.com:Ztiany/android-common-utils.git
[submodule "android-arch-base"]
	path = base_arch
	url = git@github.com:Ztiany/android-arch-base.git
