[submodule "android-common-utils"]
	path = base/utils
	url = git@github.com:Ztiany/android-common-utils.git
[submodule "android-arch-core"]
	path = base/core
	url = git@github.com:Ztiany/android-arch-core.git
[submodule "android-ui-base"]
	path = base/view
	url = git@github.com:Ztiany/android-ui-base.git
[submodule "android-arch-activity"]
	path = base/activity
	url = git@github.com:Ztiany/android-arch-activity.git
[submodule "android-arch-adapter"]
	path = base/adapter
	url = git@github.com:Ztiany/android-arch-adapter.git
[submodule "android-arch-fragment"]
	path = base/fragment
	url = git@github.com:Ztiany/android-arch-fragment.git
[submodule "android-arch-viewbinding"]
	path = base/viewbinding
	url = git@github.com:Ztiany/android-arch-viewbinding.git
