*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/buildSrc/build
/captures
.externalNativeBuild
*.hprof
extra_modules
/ssy_libs/lib_biometrics
/ssy_libs/lib_webview
/ssy_libs/lib_qrcode
/ssy_libs/lib_safekeyboard
/app/apk