<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.ztiany.architecture.home"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".HomeAppContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="主界面"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:theme,android:label,android:allowBackup">

        <activity
            android:name=".HomeDebugActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="me.ztiany.arch.home.main.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>