<manifest package="com.app.base"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- ================================================== permission  start================================================== -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- ================================================== application  start================================================== -->
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:theme,android:allowBackup">

        <!-- ================================================   Config ================================================ -->
        <!--应用间共享文件-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

        <!--调试工具-->
        <activity
            android:name="com.app.base.debug.DebugActivity"
            android:exported="false"
            android:label="调试工具"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.app.base.debug.intent.Debug" />
            </intent-filter>
        </activity>

    </application>

</manifest>
