<manifest package="com.app.base"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- ================================================== permission  start================================================== -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Normal"
        tools:replace="android:label,android:theme,android:allowBackup">

        <!-- ================================================   Config ================================================ -->
        <!--应用间共享文件-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

    </application>

</manifest>
